 <!-- <!DOCTYPE html>
<html>
<head>
    <title>Access Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>Access Control</h1>

    <form method="POST">

       🔷 BLOCK 1 
        <div class="card">
            <h3>Select Access Type</h3>
             <select name="access_type"  required>

                <option value="department">Department Access</option>
                <option value="individual">Individual Access</option>
            </select>
          <label>
                <input type="radio" name="access_type" value="department" required>
                Department Access
            </label>
            <label>
                <input type="radio" name="access_type" value="individual">
                Individual Access
            </label>
        </div>

      🔷 BLOCK 2 
        <div class="card">
            <h3>Select Role</h3>
             <select name="role_type" id="role" required>

                <option value="user">User</option>
                <option value="admin">Admin</option>
            </select>
        <label>
                <input type="radio" name="role_type" value="admin" required>
                Admin
            </label>
            <label>
                <input type="radio" name="role_type" value="user">
                User
            </label> 
        </div>

       🔍 SEARCH 
        <div style="margin-top: 20px;">
            <input type="text" name="search" placeholder="Search user..." class="input-box">
            <button type="submit">Search</button>
        </div>

     📋 RESULTS 
        {% if users %}
        <h3>Results</h3>
        <table>
            <tr>
                <th>Select</th>
                <th>ID</th>
                <th>Username</th>
                <th>Role</th>
            </tr>

            {% for u in users %}
            <tr>
                <td>
                    <input type="checkbox" name="selected_users" value="{{ u.id }}">
                </td>
                <td>{{ u.id }}</td>
                <td>{{ u.username }}</td>
                <td>{{ u.role }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

    💾 SAVE 
        <div style="margin-top: 20px;">
            <button type="submit" name="save">Save Changes</button>
        </div>

    </form>

    <a href="/inventory">⬅ Back</a>
</div>

</body>
</html>  -->