<!DOCTYPE html>
<html>

<head>
    <title>User & Admin Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='details.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='sidebar.css') }}">

</head>

<body>
    <!-- Sidebar Navigation -->
    <div class="sidebar">
        <img src="{{ url_for('static', filename='RUCKUS-Networks-Logos-artwork_white-orange.png') }}" alt="Logo"
            class="logo">
        <nav>
            <a href="{{ url_for('inventory.inventory') }}" {% if request.path.startswith('/inventory') %}class="active"
                {% endif %}>Inventory</a>
            <a href="{{ url_for('rules.rules') }}" {% if request.path.startswith('/rules') %}class="active" {% endif
                %}>Rules Page</a>
                 <a href="{{ url_for('inventory.contacts') }}" {% if request.path.startswith('/inventory/contact') %}class="active"{% endif %}>Contacts</a>

            {% if role == 'admin' %}
            <a href="{{ url_for('inventory.admin_page') }}" {% if request.path.startswith('/admin') %}class="active" {%
                endif %}>Admin Page</a>
            <a href="{{ url_for('details.details') }}" {% if request.path.startswith('/details') %}class="active" {%
                endif %}>User Details</a>
            {% endif %}
        </nav>
        <div class="sidebar-logout-separator"></div>
        <a href="{{ url_for('auth.login') }}" class="logout-btn">Logout</a>
    </div>

    <div class="container">
        <h1>User & Admin Details</h1>

        <div id="search-container">
            <form id="search-form" method="GET" action="{{ url_for('details.details') }}">
                <input type="text" name="search" placeholder="Search Users by Email">

                <select name="role">
                    <option value="">All</option>
                    <option value="admin">Admin</option>
                    <option value="user">User</option>
                </select>

                <button type="submit">Search</button>
            </form>

            {% if session.get("role") == "admin" %}
            <a id="addUser-btn" href="{{ url_for('auth.signup') }}">
                <!-- <button  style="background-color: #f57c00; color: white; margin-bottom: 10px; margin-top: 10px;">+ ADD USER</button> -->
                + ADD USER
            </a>
            {% endif %}
        </div>

        <table border="1" cellpadding="8">
            <thead>
                <tr>
                    <th>S. No.</th>
                    <th>Email </th>

                    <th>Role</th>
                    <!-- <th>Status</th>
                    <th>Expires at</th> -->
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for u in users %}
                <tr>
                    <td>{{ (page - 1) * per_page + loop.index }}</td>
                    <td>{{ u.username }}</td>

                    <td>{{ u.role }}</td>
                    <!-- <td>{{ u.status }}</td>
                    <td>{{ u.expires_at }}</td> -->
                    <td>
                        <a href="{{ url_for('details.edit_user', user_id=u.id) }}" style="text-decoration: none;">
                            <button class="edit-btn">Edit</button>
                        </a>
                        <a href="{{ url_for('details.delete_user', user_id=u.id) }}"
                            onclick="return confirm('Are you sure you want to delete this user?');">
                            <button class="delete-btn">Delete</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>

        <div class="pagination">

            {% if page > 1 %}
                <a href="{{ url_for('details.details',
                page=page-1,
                search=search,
                role=role_filter) }}">Prev</a>
            {% else %}
                <span class="disabled">Prev</span>
            {% endif %}

            
            {% set start_page = page - 2 %}
            {% set end_page = page + 2 %}

            {% if start_page < 1 %}
                {% set start_page = 1 %}
                {% set end_page = 5 %}
            {% endif %}

            {% if end_page > total_pages %}
                {% set end_page = total_pages %}
                {% set start_page = total_pages - 4 %}
            {% endif %}

            {% if start_page < 1 %}
                {% set start_page = 1 %}
            {% endif %}


            {% for p in range(start_page, end_page + 1) %}
                {% if p == page %}
                    <span class="current">{{ p }}</span>
                {% else %}
                    <a href="{{ url_for('details.details',
                    page=p,
                    search=search,
                    role=role_filter) }}">{{ p }}</a>
                {% endif %}
            {% endfor %}

            {% if page < total_pages %} 
            <a href="{{ url_for('details.details', page=page+1, search=search, role=role_filter)
                }}">Next</a>
            {% else %}
                <span class="disabled">Next</span>
            {% endif %}

        </div>


        <hr style="margin: 30px 0;">
        <h2>Departments with User Access</h2>

        <!-- Add Department -->
        <form id="add-form" method="POST" action="{{ url_for('details.add_department') }}" style="margin-bottom: 15px;">
            <input type="text" name="department_name" placeholder="New Department Name" required>
            <button type="submit" style="background-color:#f57c00;color:white;">
                Add Department
            </button>
        </form>

        <!-- Departments List -->
        <table border="1" cellpadding="8">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Department Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for dept in departments %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ dept.department_name }}</td>
                    <td>
                        <a href="{{ url_for('details.delete_department', dept_id=dept.id) }}"
                            onclick="return confirm('Delete this department?');">
                            <button class="delete-btn">
                                Delete
                            </button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


        <!-- <hr style="margin: 30px 0;">
        <h2>Departments with Admin Access</h2>

        <!-- Add Department --
        <form id="add-form" method="POST" action="{{ url_for('details.add_department') }}" style="margin-bottom: 15px;">
            <input type="text" name="department_name" placeholder="New Department Name" required>
            <button type="submit" style="background-color:#f57c00;color:white;">
                Add Department
            </button>
        </form>

        <!-- Departments List --
        <table border="1" cellpadding="8">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Department Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for dept in departments %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ dept.department_name }}</td>
                    <td>
                        <a href="{{ url_for('details.delete_department', dept_id=dept.id) }}"
                            onclick="return confirm('Delete this department?');">
                            <button class="delete-btn">
                                Delete
                            </button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table> -->
    </div>

</body>

</html>