<!DOCTYPE html>
<html>
<head>
    <title>User & Admin Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='details.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='sidebar.css') }}">

</head>
<body>
    <!-- Sidebar Navigation -->
    <div class="sidebar">
        <img src="{{ url_for('static', filename='RUCKUS-Networks-Logos-artwork_white-orange.png') }}" alt="Logo" class="logo">
        <nav>
            <a href="{{ url_for('inventory.inventory') }}" {% if request.path.startswith('/inventory') %}class="active"
                {% endif %}>Inventory</a>
            <!-- <a href="{{url_for('reservation.reserve')}}" {% if request.path.startswith('/reserve') %}class="active" {%
                endif %}>Reserve</a> -->
            {% if role == 'admin' %}
            <a href="{{ url_for('inventory.admin_page') }}" {% if request.path.startswith('/admin') %}class="active" {%
                endif %}>Admin Page</a>
            <a href="{{ url_for('details.details') }}" {% if request.path.startswith('/details') %}class="active" {%
                endif %}>Details</a>
            {% endif %}
        </nav>
        <div class="sidebar-logout-separator"></div>
        <a href="{{ url_for('auth.login') }}" class="logout-btn">Logout</a>
    </div>
    <div class="container">
    <h1>User & Admin Details</h1>
    <table border="1" cellpadding="8">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username </th>
               
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
       {% for u in users %}
            <tr>
                <td>{{ u.id }}</td>
                <td>{{ u.username }}</td>
              
                <td>{{ u.role }}</td>
                <td>
                    <a href="{{ url_for('details.edit_user', user_id=u.id) }}">
                        <button>Edit</button>
                    </a>
                    <a href="{{ url_for('details.delete_user', user_id=u.id) }}" 
       onclick="return confirm('Are you sure you want to delete this user?');">
       <button style="background-color: #f57c00; color: white;">Delete</button>
    </a>
                </td>
            </tr>
            {% endfor %}
          
        </tbody>
    </table>
 {% if session.get("role") == "admin" %}
<a href="{{ url_for('auth.signup') }}">
    <button style="background-color: #f57c00; color: white; margin-bottom: 10px;">ADD</button>
</a>
{% endif %}
</div>

</body>
</html>

